<div class="modal-header">
    <h4 class="modal-title pull-left">
      Add New Event
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" [(ngModel)]="eventDate.title"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Contact Email</label>
          <input type="text" class="form-control" [(ngModel)]="eventDate.contactEmail"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Start</label>
          <input type="text" readonly value="{{eventDate.start | date: 'dd/MM/yyyy H:mm'}}" class="form-control"/>
          <dl-date-time-picker
            startView="day"
            maxView="year"
            minView="minute"
            minuteStep="5"
            [(ngModel)]="eventDate.start"
            (change)="checkDate(eventDate)"
          >
          </dl-date-time-picker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>End</label>
          <input type="text" readonly value="{{eventDate.end | date: 'dd/MM/yyyy H:mm'}}" class="form-control"/>
          <dl-date-time-picker
            startView="day"
            maxView="year"
            minView="minute"
            minuteStep="5"
            [(ngModel)]="eventDate.end"
            (change)="checkDate(eventDate)"
          >
          </dl-date-time-picker>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary" (click)="closeModal()"><i class="fas fa-times"></i> Edit</button>-->
    <button class="btn btn-danger" (click)="saveDeathDate(eventDate)" [disabled]="loadingRequest"><i class="fas fa-save"></i> Save</button>
    <button class="btn btn-light" (click)="closeModal()" [disabled]="loadingRequest"><i class="fas fa-times"></i> Close</button>
  </div>

